# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/
env/

# -------------------------
# Python cache & compiled files
# -------------------------
__pycache__/
*.pyc

# -------------------------
# OS system files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Editor folders
# -------------------------
.vscode/
.idea/

# -------------------------
# SQLite database (do not commit)
# -------------------------
DATA/intelligence_platform.db

# -------------------------
# Authentication text files
# -------------------------
DATA/users.txt
DATA/sessions.txt
DATA/lockouts.txt
